<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>JDBC</display-name>
    <servlet>
        <servlet-name>ServletCargaListaENCU</servlet-name>
        <servlet-class>com.americas.servlet.ServletCargaListaENCU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIngresaEncuesta</servlet-name>
        <servlet-class>com.americas.servlet.ServletIngresaEncuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDescargas</servlet-name>
        <servlet-class>com.americas.servlet.ServletDescargas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCargaListaPOS</servlet-name>
        <url-pattern>/ServletCargaListaPOS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValidaUsuarioPOS</servlet-name>
        <url-pattern>/ServletValidaUsuarioPOS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIngresaUsuarioPOS</servlet-name>
        <url-pattern>/ServletIngresaUsuarioPOS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCargaListaPAC</servlet-name>
        <url-pattern>/ServletCargaListaPAC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValidaUsuarioPAC</servlet-name>
        <url-pattern>/ServletValidaUsuarioPAC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIngresaUsuarioPAC</servlet-name>
        <url-pattern>/ServletIngresaUsuarioPAC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCargaListaAUTO</servlet-name>
        <url-pattern>/ServletCargaListaAUTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIngresaUsuarioAUTO</servlet-name>
        <url-pattern>/ServletIngresaUsuarioAUTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValidaUsuarioAUTO</servlet-name>
        <url-pattern>/ServletValidaUsuarioAUTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCargaListaENCU</servlet-name>
        <url-pattern>/ServletCargaListaENCU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIngresaEncuesta</servlet-name>
        <url-pattern>/ServletIngresaEncuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDescargas</servlet-name>
        <url-pattern>/Descargas</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>ServletIngresaUsuarioPOS</display-name>
        <servlet-name>ServletIngresaUsuarioPOS</servlet-name>
        <servlet-class>com.americas.servlet.ServletIngresaUsuarioPOS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCargaListaPOS</servlet-name>
        <servlet-class>com.americas.servlet.ServletCargaListaPOS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValidaUsuarioPOS</servlet-name>
        <servlet-class>com.americas.servlet.ServletValidaUsuarioPOS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCargaListaPAC</servlet-name>
        <servlet-class>com.americas.servlet.ServletCargaListaPAC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValidaUsuarioPAC</servlet-name>
        <servlet-class>com.americas.servlet.ServletValidaUsuarioPAC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIngresaUsuarioPAC</servlet-name>
        <servlet-class>com.americas.servlet.ServletIngresaUsuarioPAC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCargaListaAUTO</servlet-name>
        <servlet-class>com.americas.servlet.ServletCargaListaAUTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIngresaUsuarioAUTO</servlet-name>
        <servlet-class>com.americas.servlet.ServletIngresaUsuarioAUTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValidaUsuarioAUTO</servlet-name>
        <servlet-class>com.americas.servlet.ServletValidaUsuarioAUTO</servlet-class>
    </servlet>
</web-app>
